//! **************************************************************************
// Written by: Map O.61xd on Wed Dec 11 16:11:52 2013
//! **************************************************************************

SCHEMATIC START;
COMP "ADDRESS1<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "ADDRESS1<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "ADDRESS1<3>" LOCATE = SITE "G1" LEVEL 1;
COMP "SWITCHS<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "SWITCHS<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "SWITCHS<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "SWITCHS<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Clock" LOCATE = SITE "C8" LEVEL 1;
COMP "reset" LOCATE = SITE "G12" LEVEL 1;
COMP "ADDRESS1<0>" LOCATE = SITE "N5" LEVEL 1;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

